//WITHOUT WRAPPER
/*&__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 150 / 150;
}*/

//WITH WRAPPER
/*& img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 600 / 399;
}*/

.subtitle {
	color: #4475f2;
	font-size: rem(18);
	font-weight: 800;
	letter-spacing: rem(2);
	text-transform: uppercase;

	@media (max-width: em(767.98)) {
		font-size: rem(15);
	}
}
.title {
	color: #000;
	font-size: rem(48);
	font-weight: 800;
	line-height: 1.35;

	@media (max-width: em(767.98)) {
		font-size: rem(25);
	}
}